.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

app-sidebar {
  flex-shrink: 0;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto;
  background-color: #f5f5f5;
}