:host {
  display: block;
  height: 100%;
  overflow: auto;
}

.vista-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F5F3F5;
}

.vista-header {
  padding: 32px 28px 28px;
  color: rgb(0, 0, 0);
}

.vista-header h2 {
  margin: 0 0 8px 0;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #172b4d;
  margin: 0;
}

.vista-header p {
  margin: 0;
  font-size: 15px;
  opacity: 0.95;
  font-weight: 300;
}

app-columnas {
  flex: 1;
  overflow: auto;
  background-color: #f4f5f7;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -4px 20px rgba(9, 30, 66, 0.08);
}

.vista-header i {
  font-size: 32px;
  color: #ff991f;
}
.subtitulo {
    font-size: 14px;
    color: #626f86;
    margin: 0;
    padding-left: 44px;
}